<template>
  <div class="scrollbar-messenger flex flex-col flex-1 overflow-y-auto space-y-2 px-2" ref="messages">

    <div class="flex items-end space-x-2">
      <img src="@/messenger/assets/avatars/klocuch.png" class="w-8 h-8 rounded-full">
      <ul class="flex flex-col space-y-1">
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full rounded-tl-full max-w-sm">Lorem ipsum dolor sit amet</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full rounded-bl-full max-w-sm">Lorem ipsum dolor sit amet, consectetur adipisicing</li>
      </ul>
    </div>

    <div class="flex justify-end mr-5">
      <ul class="flex flex-col items-end space-y-1">
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full rounded-tr-full max-w-sm">Lorem ipsum dolor sit amet</li>
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full rounded-br-full max-w-sm">Lorem ipsum dolor sit amet, consectetur adipisicing</li>
      </ul>
    </div>

    <div class="flex items-end space-x-2">
      <img src="@/messenger/assets/avatars/klocuch.png" class="w-8 h-8 rounded-full">
      <ul class="flex flex-col space-y-1">
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full rounded-full">Lorem ipsum dolor sit amet</li>
      </ul>
    </div>

    <div class="flex justify-end mr-5">
      <ul class="flex flex-col items-end space-y-1">
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full rounded-tr-full">Lorem ipsum dolor sit amet</li>
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full rounded-br-full">Lorem ipsum dolor sit amet, consectetur adipisicing</li>
      </ul>
    </div>

    <div class="flex items-end space-x-2">
      <img src="@/messenger/assets/avatars/klocuch.png" class="w-8 h-8 rounded-full">
      <ul class="flex flex-col space-y-1">
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full rounded-tl-full max-w-sm">Lorem ipsum dolor sit amet</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="w-max bg-gray-200 px-3 py-2 text-sm rounded-r-full rounded-bl-full max-w-sm">Lorem ipsum dolor sit amet, consectetur adipisicing</li>
      </ul>
    </div>

    <div class="flex justify-end items-end space-x-1">
      <ul class="flex flex-col items-end space-y-1">
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full rounded-tr-full max-w-sm">Lorem ipsum dolor sit amet</li>
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full max-w-sm">Lorem ipsum as a sda as as s dLorem ipsum as a sda as as s dLorem ipsum as a sda as as s d</li>
        <li class="bg-blue-500 text-gray-100 w-max bg-gray-200 px-3 py-2 text-sm rounded-l-full rounded-br-full max-w-sm">Lorem ipsum dolor sit amet, consectetur adipisicing</li>
      </ul>
      <img src="@/messenger/assets/avatars/klocuch.png" class="w-4 h-4 rounded-full">
    </div>

  </div>
</template>

<script>
export default {
  name: "ChatMessages",
  methods: {
    scrollToBottom() {
      setTimeout(() => {
        this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight - this.$refs.messages.clientHeight;
      }, 50);
    }
  },
  created() {
    this.scrollToBottom();
  }
}
</script>

<style scoped>

</style>
