<template>
  <div class="flex flex-col">
    <chat-item
        v-for="chat in chats"
        :key="chat.name"
        :name="chat.name"
        :image="chat.image"
        :last-message="chat.last_message"
        :sent-at="chat.sent_at"
        :is-seen="chat.is_seen"
        :is-active="chat.is_active || false"
    ></chat-item>
  </div>
</template>

<script>
import ChatItem from '@/messenger/components/ChatItem';

export default {
  name: "ChatList",
  components: {ChatItem},
  props: {
    chats: {
      type: Array,
      required: true
    }
  },
}
</script>

<style scoped>
.active {
  @apply bg-spotify-gray-200 rounded;
}
</style>
