<template>
  <div class="flex items-center justify-between space-x-3 px-1 py-2 rounded hover:bg-gray-100 cursor-pointer" :class="{'bg-gray-100': isActive}">
    <img src="@/messenger/assets/avatars/klocuch.png" class="w-14 h-14 rounded-full">
    <div class="flex flex-1 whitespace-nowrap overflow-hidden">
      <div class="flex flex-col overflow-hidden" :class="{'font-bold': !isSeen}">
        <p class="text-sm overflow-hidden overflow-ellipsis">{{ name }}</p>
        <div class="flex space-x-1 text-xs" :class="{'text-gray-400': isSeen}">
          <span class="overflow-hidden overflow-ellipsis">{{ lastMessage }}</span>
          <span>·</span>
          <span>4h</span>
        </div>
      </div>
    </div>
    <img src="@/messenger/assets/avatars/klocuch.png" class="w-4 h-4 rounded-full">
  </div>
</template>

<script>
export default {
  name: "ChatItem",
  inject: ['moment'],
  created() {
    console.log(this.moment);
  },
  props: {
    name: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: false
    },
    lastMessage: {
      type: String,
      required: false,
      default: ''
    },
    sentAt: {
      type: String,
      required: false,
      default: ''
    },
    isSeen: {
      type: Boolean,
      required: false,
      default: true
    },
    isActive: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style scoped>

</style>
