<template>
  <div class="flex justify-between items-center px-3 py-4 border-b border-gray-200">
    <div class="flex items-center space-x-3">
      <div class="relative flex justify-center items-center">
        <img src="@/messenger/assets/avatars/klocuch.png" class="w-10 h-10 rounded-full">
        <div class="absolute bottom-0.5 right-0.5 w-2 h-2 bg-green-400 rounded-full ring-white ring-2"></div>
      </div>
      <div class="flex flex-col">
        <h2 class="text-lg font-bold">{{ name }}</h2>
        <p class="text-xs text-gray-600">{{ lastActiveLabel }}</p>
      </div>
    </div>
    <div class="flex space-x-4 text-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChatHeader",
  inject: ['moment'],
  props: {
    name: {
      type: String,
      required: true
    },
    isOnline: {
      type: Boolean,
      required: false,
      default: true
    },
    lastActiveAt: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      lastActiveDate: this.lastActiveAt
    }
  },
  computed: {
    lastActiveLabel() {
      if (this.isOnline) {
        return 'Active Now';
      }
      return 'Active ' + this.moment(this.lastActiveDate, "YYYY-MM-DD HH:mm").fromNow();
    }
  },
  created() {
    setInterval(this.updateLastActiveLabel, 60 * 1000);
  },
  methods: {
    updateLastActiveLabel() {
      this.lastActiveDate = this.moment(this.lastActiveDate, "YYYY-MM-DD HH:mm").subtract(1, 'minutes').format('YYYY-MM-DD HH:mm');
    }
  }
}
</script>

<style scoped>

</style>
