<template>
  <div>Chat</div>
</template>

<script>

export default {
  name: "Chat",
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
    shuffle(array) {
      let data = [...array];
      return data.sort(() => Math.random() - 0.5).slice(0, 6);
    }
  }
}
</script>

<style scoped>
</style>
