<template>
  <div class="spotify flex flex-col h-screen">
    <div class="flex-1 flex overflow-y-hidden">
      <sidebar></sidebar>

      <!-- Content panel -->
      <div class="flex flex-col flex-1 bg-spotify-gray-500 overflow-y-auto scrollbar-spotify">
        <div class="bg-gradient-to-b from-spotify-gray-100 to-spotify-gray-500 pb-16 px-6 pt-4">
          <search-panel></search-panel>
        </div>
        <div class="bg-spotify-gray-500 px-6">
          <router-view></router-view>
        </div>
      </div>

      <friends-panel></friends-panel>
    </div>

    <control-panel></control-panel>
  </div>
</template>

<script>
import Sidebar from '@/spotify/layout/Sidebar';
import FriendsPanel from '@/spotify/layout/FriendsPanel';
import ControlPanel from "@/spotify/layout/ControlPanel";
import SearchPanel from "@/spotify/layout/SearchPanel";

export default {
  name: 'App',
  components: {
    SearchPanel,
    ControlPanel,
    Sidebar,
    FriendsPanel
  },
  data() {
    return {
      songs: [
        { title: 'Do I Wanna Know?', artist: 'Arctic Monkeys', duration: 266, coverUrl: 'https://upload.wikimedia.org/wikipedia/en/0/04/Arctic_Monkeys_-_AM.png' },
        { title: 'RU Mine?', artist: 'Arctic Monkeys', duration: 221, coverUrl: 'https://upload.wikimedia.org/wikipedia/en/0/04/Arctic_Monkeys_-_AM.png' },
      ]
    }
  }
}
</script>

<style lang="scss">
@import './index.scss';
@import '~vue-slider-component/lib/theme/default.scss';

.scrollbar-spotify::-webkit-scrollbar
{
  width: 10px;
  background-color: #1e1e1e;
}

.scrollbar-spotify::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #535353;
}
</style>
