<template>
  <div class="main-home flex h-screen bg-gray-200 justify-center items-center space-x-4 md:space-x-10 p-4">
    <router-link
        v-for="app in apps"
        :key="app.name"
        :to="{ name: app.route }"
        class="flex flex-col items-center w-1/2 md:w-1/3 lg:w-1/6 space-y-2 transform transition duration-175 shadow-lg p-4 rounded-lg bg-gray-100 hover:scale-105"
    >
      <svg class="w-16 h-16" :class="app.iconColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
        <path fill="currentColor" :d="app.iconSvg"/>
      </svg>
      <span class="text-xl font-semibold text-gray-500">{{ app.name }}</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "MainHome",
  data() {
    return {
      apps: [
        {
          name: 'Spotify',
          route: 'spotify:home',
          iconSvg: 'M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z',
          iconColor: 'text-green-500'
        },
        {
          name: 'Messenger',
          route: 'messenger:index',
          iconSvg: 'M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 00122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 01-53.91 9.93l-58.08-43.47a15 15 0 00-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0153.91-9.93l58.06 43.46a15 15 0 0018 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z',
          iconColor: 'text-blue-500',
        },
      ]
    }
  }
}
</script>

<style scoped>
.main-home {
  font-family: 'Nunito', sans-serif;
}
</style>
