<template>
  <div class="messenger flex h-screen overflow-y-hidden">
    <chat-sidebar></chat-sidebar>
    <chat-feed></chat-feed>
    <chat-details name="Paweł Mieleszkiewicz" :is-online="true" last-active-at="2021-01-18 00:19"></chat-details>
  </div>
</template>

<script>
import ChatSidebar from "@/messenger/layout/ChatSidebar";
import ChatFeed from "@/messenger/layout/ChatFeed";
import ChatDetails from "@/messenger/layout/ChatDetails";

export default {
  name: 'MessengerApp',
  components: {
    ChatDetails,
    ChatFeed,
    ChatSidebar
  },
  data() {
    return {
    }
  }
}
</script>

<style lang="scss">
@import './index.scss';

.scrollbar-messenger::-webkit-scrollbar
{
  width: 8px;
  @apply bg-transparent;
}

.scrollbar-messenger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-gray-300;
}

.scrollbar-transparent::-webkit-scrollbar {
  @apply bg-transparent;
}
</style>
