<template>
  <div class="flex flex-col space-y-5">
    <h1 class="text-3xl text-gray-100 font-bold">Browse</h1>
    <ul class="flex uppercase space-x-6 font-bold">
      <li v-for="type in types" :key="type.slug" class="hover:text-gray-100 cursor-pointer" :class="{'active': isCurrentType(type.slug)}">
        <router-link :to="{ name: 'spotify:browse', params: { type: type.slug } }">{{ type.label }}</router-link>
      </li>
    </ul>
    <div class="grid grid-cols-6 gap-4">
      <browse-card v-for="playlist in playlists" :key="playlist.name" :title="playlist.name">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-12 h-12" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3" />
        </svg>
      </browse-card>
    </div>
  </div>
</template>

<script>
import BrowseCard from "@/spotify/components/BrowseCard";

export default {
  name: "Browse",
  components: {
    BrowseCard
  },
  data() {
    return {
      playlists: [
        {name: 'Hip Hop'},
        {name: 'Pop'},
        {name: 'Mood'},
        {name: 'Chill'},
        {name: '2020 Wrapped'},
        {name: 'At Home'},
        {name: 'Decades'},
        {name: 'Party'},
        {name: 'Rock'},
        {name: 'Alternative'},
        {name: 'Workout'},
        {name: 'Wellness'},
        {name: 'Romance'},
        {name: 'Cooking'},
        {name: 'Focus'},
        {name: 'Indie'},
        {name: 'Gaming'},
        {name: 'Classical'},
      ],
      types: [
        {slug: '', label: 'Genres & Moods'},
        {slug: 'podcasts', label: 'Podcasts'},
        {slug: 'charts', label: 'Charts'},
        {slug: 'new-releases', label: 'New Releases'},
        {slug: 'more', label: 'More'},
      ]
    }
  },
  methods: {
    isCurrentType(type) {
      const routeType = this.$route.params.type || '';

      return routeType === type.toLowerCase();
    }
  },
}

</script>

<style scoped>
  .active {
    @apply border-b-2 border-green-500 text-gray-100;
  }
</style>
