<template>
  <div class="flex flex-col h-full space-y-5">
    <h1 class="text-3xl text-gray-100 font-bold">Radio</h1>
  </div>
</template>

<script>
export default {
name: "Radio"
}
</script>

<style scoped>

</style>
