<template>
  <div class="flex flex-col w-96 px-3 py-4 space-y-6 border-r border-gray-200">
    <!-- User avatar with options -->
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <img src="@/messenger/assets/avatars/klocuch.png" class="w-10 h-10 rounded-full">
        <h1 class="font-bold text-2xl">Chats</h1>
      </div>
      <div class="flex space-x-1.5 text-gray-800">
        <!-- Options icon -->
        <div class="flex justify-center items-center w-9 h-9 bg-gray-100 hover:bg-gray-200 cursor-pointer rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
          </svg>
        </div>
        <!-- Camera icon -->
        <div class="flex justify-center items-center w-9 h-9 bg-gray-100 hover:bg-gray-200 cursor-pointer rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
          </svg>
        </div>
        <!-- New message icon -->
        <div class="flex justify-center items-center w-9 h-9 bg-gray-100 hover:bg-gray-200 cursor-pointer rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>

    <!-- Search input -->
    <div class="flex items-center group my-4 bg-gray-100 text-gray-600 text-sm px-2 py-1.5 rounded-full space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
      <input class="bg-transparent w-full outline-none" type="text" placeholder="Search Messenger" />
    </div>

    <!-- Chat list -->
    <div class="overflow-y-auto scrollbar-messenger">
      <chat-list :chats="chats"></chat-list>
    </div>
  </div>
</template>

<script>
import ChatList from '@/messenger/components/ChatList';

export default {
  name: "ChatSidebar",
  components: {ChatList},
  data() {
    return {
      chats: [
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 2', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: false},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat is super long that it does not fit', image: '', last_message: 'Last message is very very very long and it does not fit the text area', sent_at: '2021-01-17 15:52:00', is_seen: false, is_active: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 3', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 4', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 5', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 6', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 7', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 8', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 9', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 10', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 11', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 12', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 13', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 14', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 15', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
        {id: 'ffcf8e97-1428-41a0-a2f6-344695e23370', name: 'Chat 16', image: '', last_message: 'Last message', sent_at: '2021-01-17 15:52:00', is_seen: true},
      ]
    }
  },
  methods: {}
}
</script>

<style scoped>
.active {
  @apply bg-spotify-gray-200 rounded;
}
</style>
