<template>
  <div class="flex flex-col w-96 py-4 px-3 border-l border-gray-100">
    <div class="flex flex-col items-center space-y-3 p-3">
      <div class="relative flex justify-center items-center">
        <img src="@/messenger/assets/avatars/klocuch.png" class="w-24 h-24 rounded-full">
        <div class="absolute bottom-2 right-2 w-3 h-3 bg-green-400 rounded-full ring-white ring-2"></div>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-lg font-bold">{{ name }}</h2>
        <p class="text-xs text-gray-600">{{ lastActiveLabel }}</p>
      </div>
    </div>
    <div class="flex-1 overflow-y-auto scrollbar-messenger">
      <ul class="flex flex-col">

        <!-- Customize Chat -->
        <li @click="toggleShowCustomizeChat" class="flex flex-col justify-between cursor-pointer">
          <div class="flex justify-between hover:bg-gray-100 font-bold px-2 py-2 rounded-lg">
            <span>Customize Chat</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="showCustomizeChat ? 'M5 15l7-7 7 7' : 'M19 9l-7 7-7-7'" />
            </svg>
          </div>
        </li>
        <ul v-if="showCustomizeChat" class="flex flex-col cursor-pointer">
          <li class="flex items-center space-x-2 hover:bg-gray-100 px-2 py-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
            </svg>
            <span>Change Theme</span>
          </li>
          <li class="flex items-center space-x-2 hover:bg-gray-100 px-2 py-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
            </svg>
            <span>Change Emoji</span>
          </li>
        </ul>

        <!-- Privacy & Support -->
        <li @click="toggleShowPrivacyAndSettings" class="flex flex-col justify-between cursor-pointer">
          <div class="flex justify-between hover:bg-gray-100 font-bold px-2 py-2 rounded-lg">
            <span>Privacy & Support</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="showPrivacyAndSettings ? 'M5 15l7-7 7 7' : 'M19 9l-7 7-7-7'" />
            </svg>
          </div>
        </li>
        <ul v-if="showPrivacyAndSettings" class="flex flex-col cursor-pointer">
          <li class="flex items-center space-x-2 hover:bg-gray-100 px-2 py-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
            </svg>
            <span>Mute Conversation</span>
          </li>
          <li class="flex items-center space-x-2 hover:bg-gray-100 px-2 py-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
            </svg>
            <span>Ignore Messages</span>
          </li>
          <li class="flex items-center space-x-2 hover:bg-gray-100 px-2 py-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
            <span>Block</span>
          </li>
          <li class="flex items-center space-x-2 hover:bg-gray-100 px-2 py-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
            <span>Something's Wrong</span>
          </li>
        </ul>

        <!-- Shared Files -->
        <li @click="toggleShowSharedFiles" class="flex flex-col justify-between cursor-pointer">
          <div class="flex justify-between hover:bg-gray-100 font-bold px-2 py-2 rounded-lg">
            <span>Shared Files</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="showSharedFiles ? 'M5 15l7-7 7 7' : 'M19 9l-7 7-7-7'" />
            </svg>
          </div>
        </li>
        <ul v-if="showSharedFiles" class="flex flex-col cursor-pointer">
          <li class="hover:bg-gray-100 px-2 py-2 rounded-lg">
            <span>cute_cats.pdf</span>
          </li>
          <li class="hover:bg-gray-100 px-2 py-2 rounded-lg">
            <span>happy_doggos.docx</span>
          </li>
        </ul>

        <!-- Shared Photos -->
        <li @click="toggleShowSharedPhotos" class="flex flex-col justify-between cursor-pointer">
          <div class="flex justify-between hover:bg-gray-100 font-bold px-2 py-2 rounded-lg">
            <span>Shared Photos</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="showSharedPhotos ? 'M5 15l7-7 7 7' : 'M19 9l-7 7-7-7'" />
            </svg>
          </div>
        </li>
        <ul v-if="showSharedPhotos" class="grid grid-cols-3 gap-y-1">
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-red-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-blue-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-green-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-yellow-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-purple-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-pink-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-indigo-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-gray-300"></div>
          </li>
          <li class="flex justify-center items-center cursor-pointer">
            <div class="w-28 h-28 bg-yellow-100"></div>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChatDetails",
  inject: ['moment'],
  data() {
    return {
      showCustomizeChat: true,
      showPrivacyAndSettings: true,
      showSharedFiles: true,
      showSharedPhotos: true,

      lastActiveDate: this.lastActiveAt
    }
  },
  props: {
    name: {
      type: String,
      required: true
    },
    isOnline: {
      type: Boolean,
      required: false,
      default: true
    },
    lastActiveAt: {
      type: String,
      required: false
    }
  },
  computed: {
    lastActiveLabel() {
      if (this.isOnline) {
        return 'Active Now';
      }
      return 'Active ' + this.moment(this.lastActiveDate, "YYYY-MM-DD HH:mm").fromNow();
    }
  },
  created() {
    setInterval(this.updateLastActiveLabel, 60 * 1000);
  },
  methods: {
    updateLastActiveLabel() {
      this.lastActiveDate = this.moment(this.lastActiveDate, "YYYY-MM-DD HH:mm").subtract(1, 'minutes').format('YYYY-MM-DD HH:mm');
    },
    toggleShowCustomizeChat() {
      this.showCustomizeChat = !this.showCustomizeChat;
    },
    toggleShowPrivacyAndSettings() {
      this.showPrivacyAndSettings = !this.showPrivacyAndSettings;
    },
    toggleShowSharedFiles() {
      this.showSharedFiles = !this.showSharedFiles;
    },
    toggleShowSharedPhotos() {
      this.showSharedPhotos = !this.showSharedPhotos;
    }
  }
}
</script>

<style scoped>
.active {
  @apply bg-spotify-gray-200 rounded;
}
</style>
