<template>
  <div class="flex flex-col flex-1">
    <!-- Chat header -->
    <chat-header name="Paweł Mieleszkiewicz" :is-online="false" last-active-at="2021-01-18 00:00"></chat-header>

    <!-- Chat messages -->
    <chat-messages></chat-messages>

    <!-- Chat message input -->
    <chat-message-input></chat-message-input>
  </div>
</template>

<script>
import ChatHeader from "@/messenger/components/ChatHeader";
import ChatMessageInput from "@/messenger/components/ChatMessageInput";
import ChatMessages from "@/messenger/components/ChatMessages";
export default {
  name: "ChatFeed",
  components: {ChatMessages, ChatMessageInput, ChatHeader},
  data() {
    return {
    }
  },
  methods: {
  }
}
</script>

<style scoped>
.active {
  @apply bg-spotify-gray-200 rounded;
}
</style>
