<template>
  <div class="flex justify-center items-center text-gray-200 group">
    <div class="bg-spotify-gray-700 flex flex-col justify-center rounded-md items-center space-y-4 w-48 h-48">
      <slot></slot>
      <span class="group-hover:underline">{{ title }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "BrowseCard",
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
