<template>
  <div class="flex flex-col space-y-2">
    <h1 class="text-xl font-bold text-gray-100">{{ header }}</h1>
    <div class="grid grid-cols-6 gap-4">
      <playlist-card
          v-for="playlist in playlists"
          :key="playlist.id"
          :name="playlist.name"
          :description="playlist.description"
          :image-url="playlist.imageUrl"
      ></playlist-card>
    </div>
  </div>
</template>

<script>
import PlaylistCard from "@/spotify/components/PlaylistCard";
export default {
  name: "PlaylistDeck",
  components: {PlaylistCard},
  props: {
    header: {
      type: String,
      required: false,
      default: ''
    },
    playlists: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
