<template>
  <div class="bg-spotify-gray-700 flex-1 flex flex-col p-4 space-y-4 rounded">
    <div class="relative flex justify-center items-center text-gray-300 group">
      <img :src="imageUrl" class="rounded-full" />
      <div @click="toggleIsPlaying" v-if="isPlaying" class="absolute group-hover:opacity-0 bg-transparent-black-50 p-2 rounded-full">
        <svg class="transform hover:scale-110 w-10 h-10 cursor-pointer hover:text-gray-100 transition-transform duration-75" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
        </svg>
      </div>

      <div class="absolute w-full h-full flex justify-center items-center opacity-0 group-hover:opacity-100 group-hover:bg-transparent-black-50 transition-opacity duration-150 rounded-full">
        <div class="absolute flex items-center space-x-3">

          <!-- Favourite icon -->
          <svg @click="toggleIsFavourite" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 cursor-pointer" :fill="favouriteFill" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>

          <!-- Play icon -->
          <div @click="toggleIsPlaying">
            <svg v-if="!isPlaying" xmlns="http://www.w3.org/2000/svg" fill="none"
                 class="transform hover:scale-110 w-16 h-16 cursor-pointer hover:text-gray-100 transition-transform duration-75" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" fill="currentColor"
                    d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                    d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <svg v-if="isPlaying" class="transform hover:scale-110 w-16 h-16 cursor-pointer hover:text-gray-100 transition-transform duration-75" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>

          <!-- Dots icon -->
          <spotify-dropdown>
            <template v-slot:label>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg>
            </template>
          </spotify-dropdown>
        </div>

      </div>
    </div>
    <div class="flex flex-col space-y-1">
      <h3 class="font-bold text-center hover:underline cursor-pointer text-gray-200">{{ name }}</h3>
      <p v-if="description.length" class="text-sm text-gray-300 h-16 overflow-y-hidden text-center">{{ description }}</p>
    </div>
  </div>
</template>

<script>
import SpotifyDropdown from "@/spotify/components/core/SpotifyDropdown";

export default {
  name: "PlaylistCard",
  components: {
    SpotifyDropdown
  },
  props: {
    name: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: false,
      default: ''
    },
    imageUrl: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isPlaying: false,
      isFavourite: false
    }
  },
  methods: {
    toggleIsFavourite() {
      this.isFavourite = !this.isFavourite;
    },
    toggleIsPlaying() {
      this.isPlaying = !this.isPlaying;
    }
  },
  computed: {
    favouriteFill() {
      return this.isFavourite ? 'currentColor' : 'none';
    }
  },
}
</script>

<style scoped>

</style>
