<template>
  <div class="flex flex-col flex-1 space-y-1">
    <div class="flex items-center space-x-6 justify-center">
      <!-- Play random icon -->
      <svg aria-hidden="true" data-prefix="fas" data-icon="random" class="w-4 h-4 cursor-pointer hover:text-gray-100"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
              d="M504.971 359.029c9.373 9.373 9.373 24.569 0 33.941l-80 79.984c-15.01 15.01-40.971 4.49-40.971-16.971V416h-58.785a12.004 12.004 0 01-8.773-3.812l-70.556-75.596 53.333-57.143L352 336h32v-39.981c0-21.438 25.943-31.998 40.971-16.971l80 79.981zM12 176h84l52.781 56.551 53.333-57.143-70.556-75.596A11.999 11.999 0 00122.785 96H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12zm372 0v39.984c0 21.46 25.961 31.98 40.971 16.971l80-79.984c9.373-9.373 9.373-24.569 0-33.941l-80-79.981C409.943 24.021 384 34.582 384 56.019V96h-58.785a12.004 12.004 0 00-8.773 3.812L96 336H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h110.785c3.326 0 6.503-1.381 8.773-3.812L352 176h32z"/>
      </svg>

      <!-- Previous icon -->
      <svg aria-hidden="true" data-prefix="fas" data-icon="step-backward"
           class="w-4 h-4"
           :class="{'hover:text-gray-100 cursor-pointer': hasPrevious}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor"
              d="M64 468V44c0-6.6 5.4-12 12-12h48c6.6 0 12 5.4 12 12v176.4l195.5-181C352.1 22.3 384 36.6 384 64v384c0 27.4-31.9 41.7-52.5 24.6L136 292.7V468c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12z"/>
      </svg>

      <!-- Play icon -->
      <svg @click="onPlayingClick" xmlns="http://www.w3.org/2000/svg" fill="none"
           class="w-10 h-10 transform hover:scale-110 cursor-pointer hover:text-gray-100 transition-transform duration-75" viewBox="0 0 24 24"
           stroke="currentColor">
        <path v-if="!isPlaying" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" fill="currentColor"
              d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"/>
        <path v-if="!isPlaying" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
        <path v-if="isPlaying" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>


      <!-- Next icon -->
      <svg aria-hidden="true" data-prefix="fas" data-icon="step-forward"
           class="w-4 h-4"
           :class="{'hover:text-gray-100 cursor-pointer': hasNext}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor"
              d="M384 44v424c0 6.6-5.4 12-12 12h-48c-6.6 0-12-5.4-12-12V291.6l-195.5 181C95.9 489.7 64 475.4 64 448V64c0-27.4 31.9-41.7 52.5-24.6L312 219.3V44c0-6.6 5.4-12 12-12h48c6.6 0 12 5.4 12 12z"/>
      </svg>

      <!-- Repeat -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 cursor-pointer hover:text-gray-100"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
      </svg>
    </div>

    <!-- Progress bar -->
    <div class="group flex items-center justify-center space-x-2">
      <span class="text-xs">{{ formattedActualTime }}</span>
      <div class="w-3/4">
        <vue-slider :max="duration" class="group" tooltip="none" dotSize="10" railStyle="background: #374151" v-model="actualTime">
          <template v-slot:dot>
            <div
                class="h-3 w-3 bg-gray-200 rounded-full group-hover:opacity-100 opacity-0 transition-opacity duration-200 ease-out"></div>
          </template>
          <template v-slot:process="{ style }">
            <div class="bg-gray-400 group-hover:bg-green-500" :style="[style]"></div>
          </template>
        </vue-slider>
      </div>
      <span class="text-xs">{{ formattedDurationTime }}</span>
    </div>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'

export default {
  name: "SongPlayer",
  components: {
    VueSlider
  },
  data() {
    return {
      isPlaying: false,
      isPaused: false,
      hasEnded: false,
      hasResumed: false,

      actualTime: 0,
      playingInterval: null
    }
  },
  methods: {
    startPlaying() {
      this.playingInterval = setInterval(() => {
        this.actualTime++;
      }, 1000);
      this.isPlaying = true;
      this.isPaused = false;
      this.hasEnded = false;
      this.hasResumed = false;

      this.$emit('playing-started');
    },
    pausePlaying() {
      clearInterval(this.playingInterval);
      this.isPlaying = false;
      this.isPaused = true;

      this.$emit('playing-paused');
    },
    resumePlaying() {
      this.playingInterval = setInterval(() => {
        this.actualTime++;
      }, 1000);
      this.isPlaying = true;
      this.isPaused = false;
      this.hasEnded = false;
      this.hasResumed = true;

      this.$emit('playing-resumed');
    },
    endPlaying() {
      this.pausePlaying();
      this.actualTime = 0;
      this.isPlaying = false;
      this.isPaused = false;
      this.hasEnded = true;
      this.hasResumed = false;

      this.$emit('playing-ended');
    },
    onPlayingClick() {
      if (this.isPlaying) {
        this.pausePlaying();
        return;
      }
      if (this.isPaused) {
        this.resumePlaying();
        return;
      }
      this.startPlaying();
    },
    formatSecondsToMinutes(seconds) {
      const min = Math.floor(seconds / 60);
      const sec = seconds % 60;

      const fixedSec = sec < 10 ? `0${sec}` : `${sec}`;

      return `${min}:${fixedSec}`;
    }
  },
  computed: {
    formattedActualTime() {
      return this.formatSecondsToMinutes(this.actualTime);
    },
    formattedDurationTime() {
      return this.formatSecondsToMinutes(this.duration);
    }
  },
  props: {
    duration: {
      type: Number,
      required: false
    },
    hasPrevious: {
      type: Boolean,
      required: false,
      default: false
    },
    hasNext: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  watch: {
    actualTime: function(value) {
      if (value === this.duration) {
        this.endPlaying();
      }
    }
  }
}
</script>

<style scoped>

</style>
