<template>
  <div class="bg-spotify-gray-200 h-24 flex items-center justify-between px-6">
    <!-- Song info -->
    <div class="flex items-center">
      <img src="https://i1.sndcdn.com/artworks-000056567293-5ckjg2-t200x200.jpg" class="h-16 w-16" alt="Harry Styles Sign of the Times">
      <div class="flex flex-col ml-3">
        <h4 class="font-semibold text-sm text-gray-100 hover:underline cursor-pointer hover:text-gray-100">
          Do I Wanna Know?
        </h4>
        <p class="text-xs cursor-pointer hover:text-gray-100 hover:underline">Arctic Monkeys</p>
      </div>
      <div @click="toggleIsFavourite" class="ml-3 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" :fill="isFavouriteFill" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
        </svg>
      </div>
    </div>

    <!-- Song player -->
    <song-player :duration="266" :has-next="true" @playing-started="onPlayingStarted" @playing-paused="onPlayingPaused"
                 @playing-resumed="onPlayingResumed" @playing-ended="onPlayingEnded"></song-player>

    <!-- Options -->
    <div class="flex space-x-5">

      <!-- Queue icon -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 cursor-pointer hover:text-gray-100"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"/>
      </svg>

      <!-- Device icon -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 cursor-pointer hover:text-gray-100"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
      </svg>

      <!-- Volume icon -->
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 cursor-pointer hover:text-gray-100"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
        </svg>
        <div class="w-24">
          <vue-slider class="group" tooltip="none" dotSize="10" railStyle="background: #374151" v-model="volumeLevel">
            <template v-slot:dot>
              <div
                  class="h-3 w-3 bg-gray-200 rounded-full group-hover:opacity-100 opacity-0 transition-opacity duration-200 ease-out"></div>
            </template>
            <template v-slot:process="{ style }">
              <div class="bg-gray-400 group-hover:bg-green-500" :style="[style]"></div>
            </template>
          </vue-slider>
        </div>
      </div>

      <!-- Fullscreen icon -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 cursor-pointer hover:text-gray-100"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"/>
      </svg>
    </div>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import SongPlayer from "@/spotify/components/SongPlayer";

export default {
  name: "ControlPanel",
  components: {
    SongPlayer,
    VueSlider,
  },
  props: {
    song: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      volumeLevel: 75,
      isFavourite: true
    }
  },
  methods: {
    onPlayingStarted() {
      console.log('Playing started!')
    },
    onPlayingPaused() {
      console.log('Playing paused!')
    },
    onPlayingResumed() {
      console.log('Playing resumed!')
    },
    onPlayingEnded() {
      console.log('Playing ended!')
    },
    toggleIsFavourite() {
      this.isFavourite = !this.isFavourite;
    }
  },
  computed: {
    isFavouriteFill() {
      return this.isFavourite ? 'currentColor' : 'none';
    }
  }
}
</script>

<style scoped>

</style>
