<template>

  <div class="bg-spotify-gray-700 w-64 flex flex-col p-4 space-y-5">
    <h2 class="font-bold text-xl border-b-2 border-spotify-gray-200 text-gray-100">
      Friend Activity
    </h2>

    <div class="flex flex-col space-y-8">
      <!-- Friend card -->
      <div class="flex space-x-3" v-for="index in 5" :key="index">
        <div class="group flex items-center space-x-3">
          <div class="relative transform hover:scale-110">
            <img src="@/spotify/assets/avatars/klocuch.png" class="w-10 h-10 rounded-full">
            <div
                class="flex justify-center items-center opacity-0 group-hover:opacity-100 group-hover:bg-opacity-75 absolute w-10 h-10 bg-black top-0 left-0 rounded-full border-2 group-hover:border-gray-300">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                      clip-rule="evenodd"/>
              </svg>
            </div>
          </div>
          <div class="flex flex-col">
            <span
                class="font-bold text-sm truncate text-gray-100 hover:underline cursor-pointer">Paweł Mieleszkiewicz</span>
            <div class="flex flex-col text-xs text-gray-300 space-y-0.5">
              <div><span class="hover:underline cursor-pointer">Song name</span></div>
              <div><span class="hover:underline cursor-pointer">Artist</span></div>
              <div class="flex space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-4 h-4" viewBox="0 0 24 24"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        :d="index % 2 ? 'M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3' : 'M21 12a9 9 0 11-18 0 9 9 0 0118 0z'"/>
                </svg>
                <span class="hover:underline cursor-pointer">Playlist</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-400">
          <p v-if="index > 3" class="text-sm">{{ index }}h</p>
          <div v-else>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 animate-scale" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "FriendsPanel"
}
</script>

<style scoped>

</style>
