<template>
  <div class="flex justify-between items-center">
    <!-- Search box -->
    <div class="flex space-x-3">

      <!-- Left arrow icon -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-6 h-6 cursor-pointer" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>

      <!-- Right arrow icon -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-6 h-6 cursor-pointer" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>

      <div class="flex items-center bg-white rounded-full px-1.5 py-0.5 text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
        <input class="outline-none mx-2" type="text" name="search" v-model="search" placeholder="Search" />
      </div>
    </div>
    <div class="flex items-center text-sm hover:underline cursor-pointer text-gray-100">
      <img src="@/spotify/assets/avatars/klocuch.png" class="w-8 h-8 rounded-full" />
      <p class="ml-1 text-gray-100">Paweł Mieleszkiewicz</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-4 h-4 ml-3" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchPanel",
  data() {
    return {
      search: ''
    }
  },
  methods: {
  },
  created() {
  }
}
</script>

<style scoped>

</style>
