<template>
  <div class="flex flex-col w-56 bg-spotify-gray-700 px-2 pt-2">
    <ul class="space-y-2 py-2 font-bold text-sm">
      <router-link :to="{name: item.routeName}" v-for="item in nav.labels" :key="item.label">
        <li class="py-2 flex items-center px-2 cursor-pointer hover:text-gray-100 select-none"
            :class="{'active': isCurrentRoute(item.routeName)}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-6 h-6"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="item.icon"/>
          </svg>
          <span class="ml-3">{{ item.label }}</span>
        </li>
      </router-link>
    </ul>
    <div class="overflow-y-auto flex-1 scrollbar-spotify px-2">
      <div class="your-library my-4">
        <h3 class="uppercase text-sm font-light mb-2">Your Library</h3>
        <ul class="space-y-2 font-semibold text-sm">
          <li v-for="library in nav.libraries" :key="library.id" class="capitalize cursor-pointer hover:text-gray-100">
            <router-link :to="{ name: 'spotify:library', params: { id: library.id}}">
              <p>{{ library.name }}</p>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="playlists my-4">
        <h3 class="uppercase text-sm font-light mb-2">Playlists</h3>
        <ul class="space-y-2 font-semibold text-sm">
          <li v-for="playlist in nav.playlists" :key="playlist.id" class="cursor-pointer hover:text-gray-100">
            <router-link :to="{ name: 'spotify:playlist', params: { id: playlist.id}}">
              <p>{{ playlist.name }}</p>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center cursor-pointer hover:text-gray-100 select-none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-8 h-8" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <span class="ml-3 py-4 font-semibold">New Playlist</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      nav: {
        labels: [
          {
            label: 'Home',
            routeName: 'spotify:home',
            icon: 'M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'
          },
          {
            label: 'Browse',
            routeName: 'spotify:browse',
            icon: 'M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z'
          },
          {
            label: 'Radio',
            routeName: 'spotify:radio',
            icon: 'M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z'
          },
        ],
        libraries: [
          { name: 'Made for you', id: '00c2d3c0-7b3b-4a57-9321-295762dcb6ae' },
          { name: 'Recently played', id: 'c8da39d2-6def-4b4c-9f44-a5af607dfea7' },
          { name: 'Liked songs', id: '88cece01-b68c-42e1-9ac2-543b37d64e93' },
          { name: 'Albums', id: 'ab32f2d9-1951-4d64-b254-89b50bd21e4c' },
          { name: 'Artists', id: '2f33e555-0f91-4461-924f-055b68615d99' },
          { name: 'Podcasts', id: 'd67fc982-8099-4144-82c3-7ab05172f6e8' },
        ],
        playlists: [
          { name: 'Top Hits Polska', id: '31d2ea33-ccd9-45af-a435-37de9e3e2328' },
          { name: 'Wakacje 2019', id: '4934130b-4d4e-4241-b3b3-78106367bbce' },
          { name: 'Sylwester 2018', id: '988be814-5852-4bc0-bb1d-0d405d4bc011' },
        ]
      }
    }
  },
  methods: {
    isCurrentRoute(routeName) {
      return this.$route.name === routeName;
    }
  }
}
</script>

<style scoped>
.active {
  @apply bg-spotify-gray-200 rounded;
}
</style>
