<template>
  <router-view></router-view>
</template>

<script>
import moment from 'moment';

export default {
  name: 'Main',
  provide: {
    moment: moment
  },
}
</script>

<style lang="scss">
</style>
