<template>
  <div class="relative inline-block">
    <div @click="toggleIsOpen">
      <slot name="label"></slot>
    </div>

    <!--
      Dropdown panel, show/hide based on dropdown state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div v-if="isOpen" class="origin-top-right absolute right-0 w-48 mt-2 rounded-md shadow-lg bg-spotify-gray-200 text-gray-400 ring-1 ring-black ring-opacity-5">
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <a href="#" class="block px-4 py-2 text-sm hover:bg-spotify-gray-300" role="menuitem" @click="toggleIsOpen">Follow</a>
        <a href="#" class="block px-4 py-2 text-sm hover:bg-spotify-gray-300" role="menuitem" @click="toggleIsOpen">Report</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SpotifyDropdown",
  data() {
    return {
      isOpen: false
    }
  },
  methods: {
    toggleIsOpen() {
      this.isOpen = !this.isOpen;
    }
  }
}
</script>

<style scoped>

</style>
